.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loginCard {
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.toggleButtonContainer {
  width: 100%;
  margin-top: 15px;
  border: none;
  background-color: transparent
}

.loginButtons {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 32, 121, 1) 46%,
    rgba(6, 136, 163, 1) 100%
  );
}

.card-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loginButtons:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    -45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 32, 121, 1) 46%,
    rgba(6, 136, 163, 1) 100%
  );
}
